<aside class="sidebar vh-100 border-end d-flex bg-dark flex-column pt-3">
  <!-- <a href="#" class="d-inline-block position-absolute border-end end-0 py-2 px-1">
            <i class="bi bi-arrows-angle-expand"></i>
            <i class="bi bi-caret-left-fill fs-3"></i>
          </a> -->
  <!-- 後台名稱 -->
  <div class="px-4 mb-4 text-white">
    <strong>Little Chapters </strong>- 後台管理
  </div>
  <!-- 選單 -->
  <div class="overflow-auto d-flex flex-column">
    <div class="">
      <a href="/index" class="sidebar-link text-white">
        <div class="px-4">
          儀表板
        </div>
      </a>

      <a href="/users" class="sidebar-link text-white">
        <div class="px-4">
          用戶管理
        </div>
      </a>

      <a href="/products" class="sidebar-link text-white">
        <div class="px-4">
          商品管理
        </div>
      </a>

      <a href="/productsTheme" class="sidebar-link text-white">
        <div class="px-4">
          商品分類管理
        </div>
      </a>

      <a href="/orders" class="sidebar-link text-white">
        <div class="px-4">
          訂單管理
        </div>
      </a>

      <a href="/discountCodes" class="sidebar-link text-white">
        <div class="px-4">
          折扣碼
        </div>
      </a>

      <a href="/selected" class="sidebar-link text-white">
        <div class="px-4">
          精選產品
        </div>
      </a>

      <a href="/notifications" class="sidebar-link text-white">
        <div class="px-4">
          通知
        </div>
      </a>

      <a href="/message" class="sidebar-link text-white">
        <div class="px-4">
          訊息
        </div>
      </a>
    </div>

    <!-- 有子選單的結構 -->
    <!-- <div>
              <a href="#menu-order" class="sidebar-link" data-bs-toggle="">
                <div class="d-flex justify-content-between px-4">
                  <p>
                    用戶管理
                  </p>
                  <i class="bi bi-caret-down border-0 p-0 m-0" data-bs-toggle="collapse" data-bs-target="#menu-order"></i>
                </div>
              </a>
    
              <div class="collapse" id="menu-order">
                <a href="#" class="sidebar-link">
                  <div class="ps-5">
                    子項目1
                  </div>
                </a>
              </div>
            </div> -->


    <div class="sidebar-link px-4 text-white">
      登出
    </div>
    </a>

  </div>
</aside>