<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Little Chapter 管理後台</title>
  <!-- 環境判斷 -->
  <script type="module">
    import { getApiBaseUrl } from '/javascripts/util.js';
    window.API_BASE_URL = getApiBaseUrl();
  </script>
  <!-- 載入 CSS 樣式 -->
  <link rel="stylesheet" href="/stylesheets/all.css">
  <!-- 載入 Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!--  -->
  <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>
<body>
  <div class="d-flex">
    {{> sidebar }}

    <main class="main">
      {{> header }}

      <!-- 主要內容 -->
      <div>
        {{{body}}}
      </div>
    </main>
  </div>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <!-- 收合 sidebar -->
  <script src="/javascripts/all.js"></script>
  <!-- 即時更改監控 -->
  <script src="http://localhost:35729/livereload.js"></script>
  <!--  -->

  <!-- 驗證是否有登入，沒有登入則導回 admin/login -->
  <!-- 放在 index.hbs 等每個需驗證頁面的 <script> 裡 -->
  <script>
    // ⛔️ 避免登入頁面也被重導
    const isLoginPage = window.location.pathname === "/admin/login";
    const token = localStorage.getItem("adminToken");
    const adminInfo = JSON.parse(localStorage.getItem("adminInfo") || "{}");

    if (!isLoginPage) {

      if (!token || adminInfo.role !== "admin") {
        // 尚未登入或不是 admin，導回登入頁
        window.location.href = "/admin/login";
      }
    }

    const nameEl = document.getElementById("adminName");
    const emailEl = document.getElementById("adminEmail");
    if (nameEl && emailEl && adminInfo.name && adminInfo.email) {
      nameEl.textContent = adminInfo.name;
      emailEl.textContent = adminInfo.email;
    }
  </script>
</body>
</html>