<div class="container py-5" style="max-width: 400px;">
  <h4 class="text-center fw-bold mb-4">管理者登入</h4>

  <form>
    <div class="mb-3">
      <label for="adminEmail" class="form-label">帳號</label>
      <input type="email" class="form-control" id="adminEmail" placeholder="請輸入Email">
    </div>

    <div class="mb-1">
      <label for="adminPassword" class="form-label">密碼</label>
      <div class="input-group">
        <input type="password" class="form-control" id="adminPassword" placeholder="請輸入密碼">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-eye-slash"></i>
        </button>
      </div>
    </div>
    <div class="mb-3">
      <small class="text-muted">※8至16碼英數混和，英文需區分大小寫</small>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <div>
        <input class="form-check-input me-1" type="checkbox" id="rememberMe">
        <label class="form-check-label" for="rememberMe">記住我</label>
      </div>
      <div class="text-end">
        尚未加入？→<a href="#">馬上註冊</a>
      </div>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-dark">登入</button>
    </div>
  </form>
</div>