.pagination-dark {
  --bs-pagination-color: #fff;
  --bs-pagination-bg: #000;
  --bs-pagination-border-color: #000;

  --bs-pagination-hover-color: #fff;
  --bs-pagination-hover-bg: #222;
  --bs-pagination-hover-border-color: #222;

  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #333;
  --bs-pagination-active-border-color: #333;

  --bs-pagination-disabled-color: #6c757d;
  --bs-pagination-disabled-bg: #000;
  --bs-pagination-disabled-border-color: #000;
}